* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: black;
  --borderCard: rgb(191, 211, 191);
  --backgroud: rgb(13, 82, 13);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2rem 1rem;
  background-color: var(--black);
  min-height: 100vh;
}